<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">

  <title>Learn Vue.js</title>
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Learn Vue.js</strong>
        </a>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Learn Vue.js</h1>
        <p class="lead text-muted">By Kiley Dorton</p>
        <div id="app">
          <section class="mb-4">
            <p class="lead text-muted">Current temp: {{ tempF }}&deg;</p>
            <p v-if="tempF >= 90" class="lead text-muted">It's hot outside!</p>
            <p v-else-if="tempF >= 80 && tempF < 90" class="lead text-muted">It's warm outside</p>
            <p v-else-if="tempF >= 70 && tempF < 80" class="lead text-muted">It's comfortable outside</p>
            <p v-else-if="tempF >= 40 && tempF < 70" class="lead text-muted">It's chilly outside</p>
            <p v-else="tempF < 40" class="lead text-muted">It's cold outside!</p>
          </section>
          <section class="mb-4">
            <div v-for="city in cities" class="card">
              <div class="card-body">
                {{ city.name }} - {{ city.tempF }}&deg;
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
  </main>

  <!-- Vue development version goes here -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        tempF: 75,
        cities: [
          {
            name: 'Atlanta',
            tempF: 75
          },
          {
            name: 'New York',
            tempF: 65
          },
          {
            name: 'Austin',
            tempF: 85
          },
        ]
      }
    })
  </script>
</body>

</html>